* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: 0px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

html{
  margin:0px;
  padding:0px;
  width:100%;
}
body{
  width: 100%;
  height: 100vh;
}

/* --*/
/* Wrapper*/
/* --*/
.wrapper{
  width: auto;
  height: auto;
  float: left;
}

/* Zoom in/Zoom out animation */
@keyframes breath {
0%   { background-size: auto 110%; }
50% { background-size: auto 120%; }
100% { background-size: auto 110%; }
}

#loginBackground{
height: 100vh;
width: 100%;
position: absolute;

animation: breath 30s ease-in-out infinite;
/* Links to the picture */
background-image: url("../../media/pictures/topdownView.JPG");

/* Add the blur effect */
filter: blur(3px);
-webkit-filter: blur(3px);

/* Center and scale the image nicely */
background-repeat: no-repeat;
background-size: cover;


z-index: -1;
float: left;

}

#settingSection{
  background-color: rgb(255,255,255,0.39);



  padding-bottom: 1vh;

  text-align: center;

  margin-top: 30vh;
float: left;
}

#settingTitleIcon{
  background-image: url("../../media/icons/settingIcon.PNG");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  background-color: rgb(163,150,116);
  width: 10vh;
  height: 10vh;
  border-radius: 50%;

  float: none;
  margin:0px auto;

  position: relative;
  bottom: 5vh;

}

.title{
  position: relative;
  bottom: 3vh;
  float: left;
}

.settingCategory{

  width: 50%;
  float: left;
}
#settingCategory2{
  border-left: 1px solid red;
}
#settingCategory3{
  width: 100%;
}

.inputs{
  border-bottom: 2px solid rgb(216,201,180);
  background-color: transparent;


  height: 2rem;
  font-size: 2rem;

  background-image: url("../../media/icons/lockIcon.PNG");
  background-position:0px 0.2rem;
  background-repeat: no-repeat;
  background-size: 1.6rem;
  padding-left: 40px;
  float: none;
  margin:0px auto;

}
.buttons{
    background-color: rgb(96,116,29);
    height: 3rem;
    font-size: 2rem;
    float: none;
    margin:0px auto;
    margin-top: 10px;

}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  #settingSection{
    margin-left: 29.17%;

  }
}
